@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'cairo', sans-serif;
  min-height: 100vh;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  border-bottom: 1px solid #cecece;
  padding: 1em 2em;
  position: fixed;
  top: 0;
  z-index: 111;
}

.header #logo {
  margin-right: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header #logo img {
  width: 100px;
}

.header .search-input {
  position: relative;
}

.header .search-input .search-icon {
  position: absolute;
  top: 9px;
  left: 10px;
  color: #868686;
}

.header .search-input input {
  font-family: 'cairo', sans-serif;
  width: 300px;
  padding: .3em 1em .3em 2.5em;
  border-radius: 25px;
  border: 1px solid #868686;
  outline: none;
}

main {
  margin-top: 5em;
  padding: 0 2em;
  width: 70%;
}

.books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.books .book {
  min-width: 130px;
  min-height: 160px;
  background-repeat: no-repeat;
  margin-right: 1em;
  margin-bottom: 1em;
  position: relative;
}

.books .book:hover .book-info {
  opacity: .9;
}

.books .book-info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: .8rem;
  background: #fff;
  padding: .2em .5em;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.books p:first-of-type {
  margin-bottom: .3em;
  border-bottom: 1px solid #bfdcff;
}

.books span {
  color: #008cff;
}

.dropdown .bottom-arrow {
  font-size: 2.5rem;
  background: #0074d3;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.dropdown #select {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -10px;
  opacity: 0;
  cursor: pointer;
}

.search-page .search-input {
  position: relative;
}

.search-page .search-input .back-btn {
  position: absolute;
  top: 0;
  left: 0;
  background: #008cff;
  color: #fff;
  font-size: 2.5rem;
}

.search-page .search-input input {
  font-family: 'cairo', sans-serif;
  width: 100vw;
  height: 3em;
  padding: .3em 1em .3em 5em;
  border: 1px solid #868686;
  outline: none;
}

.search-page .search-results {
  margin-top: 2em;
  padding: 0 2em 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}